.social {
  width: 230px;
  height: 50px;
  border-bottom: #ffaccb solid 2px;
  overflow: hidden;
  position: relative;
}

.social a > svg {
  transition: all 200ms ease-in;
  transform: translateY(16px);
}

a > svg:hover {
  transform: translateY(5px);
  cursor: pointer;
}

.btn {
  background: #ff7bac;
}

.btn:hover {
  background-color: #ff4f8f;
}

.btn > svg {
  transition: all 400ms ease-in-out;
}
.btn:hover > svg {
  transform: rotate(360deg);
}

input > .dark {
  background-color: rgb(56, 56, 56);
}
